<h2>New Student Form</h2>

<form method="post" action="/hogwarts/new-student">
  <label for="first_name_input">First Name</label>
  <input type="text" name="first_name">
  <label for="last_name_input">Last Name</label>
  <input type="text" name="last_name">
  <label for="age_input">Age</label>
  <input type="text" name="age">
  <label for= "house_dropdown">House</label>
  <select name="house" >
    <option value="" disabled selected>please select a house</option>
    <option value="Griffandor">Griffandor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Slytherin">Slytherin</option>
  </select>
  <input type="submit" name="submit">
</form>